:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgb(250, 250, 250);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
:root{
  box-sizing: border-box;
}
*, ::before, ::after {
  box-sizing: inherit;
}
* {margin: 0 }


.contents{
  display: flex;
  min-height: 100vh;
}
.content_search_inputs{
  flex: 1;
  padding: 20px
}
.results{
  flex: 3;
  margin-top: 20px;
}

.input_section{
  border: 1px solid rgb(175, 175, 175);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  -webkit-box-shadow: 7px 6px 17px -9px rgba(66, 68, 90, 1);
  -moz-box-shadow: 7px 6px 17px -9px rgba(66, 68, 90, 1);
  box-shadow: 7px 6px 17px -9px rgba(66, 68, 90, 1);
}
.input_section > p{
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

.topBar{
  padding: 20px;

}

.input_section > input{
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.input_section > button{
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

select{
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 5px;}

#label{
  text-align: left;
  font-size:medium;
  font-weight:400;
}

.loader_container{
  padding: 20px;
  min-height: 40vh;
  display: grid;
  place-items:center;
}

.results_container{
  padding-inline: 10px;
}

.results_top{
  display: flex;
  gap: 10px;
}

.reference_item{
  margin-bottom: 5px;
  border-bottom: 1px solid grey;
  padding-top: 10px;
  padding-bottom: 5px;
}